:root {
  --light-gray: #e0e0e0;
  --dark-gray: #212121;
  --background-hover: #2f2f2f;
  --invalid-icon:#383838;
  --border-light: hsla(0,0%,100%,.1);
  --border-heavy: hsla(0,0%,100%,.2);
  --border-radius: 10px;
  --primary-text: #ececec;

}
