.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  padding: 20px;
  width: 100%;
  align-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;

  app-message-list,
  app-message-input {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  app-message-input {
    position: fixed;
    bottom: 0;
    padding: 0 20px;
  }
  app-message-list {
    flex: 1 1 0%;
  }
}

@media (max-width: 600px) {
  .chat-container {
    padding: 10px;
  }
}
